@media (min-width: 768px) {
    div.chat {
      grid-template-columns: minmax(30rem, 24rem) auto;
    }
    div.chat > .chatbox.show {
      position: inherit;
    }
    div.chat > .sidebar,
    div.chat > .chatbox {
      height: calc(100vh - 66px);
    }
    div.chat > .sidebar {
      background-color: #f0f4f8;
    }
    .dark div.chat > .sidebar {
      background-color: #252738;
    }
    .chatbox {
      background-color: #ffffff;
    }
    .dark .chatbox {
      background-color: #101223;
    }
  }
  
  @media (max-width: 640px) {
    div.chat {
        max-width: 100vw;
        overflow-x: hidden;
    }
    div.chat > .sidebar {
      height: calc(100vh - 66px);
      background-color: #f0f4f8;
    }
    .dark div.chat > .sidebar {
      background-color: #252738;
    }
    div.chat > .chatbox {
      top: 0;
      left: 100%;
      width: 100vw;
      height: calc(100vh - 66px);
      background-color: white;
      position: absolute;
      transition: all 0.5s ease-in-out;
    }
    div.chat > .chatbox.show {
      left: 0;
    }
    .dark div.chat > .chatbox {
      background-color: #252738;
    }
    .chat .chatbox-body {
        height: calc(100vh - 74px - 144px);
      }
  }